<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8">
    </meta>
    <title>{{pageTitle}}</title>
</head>

<body>

    <select id="log" name="log_name">
      <option value ="mem">Memory</option>
      <option value ="disk">Disk</option>
    </select>
    <button id="gen">Start script</button>
    <button id="gen">Stop script</button>
    <button id="gen">Terminate script</button>
    <p id='logs'></p>

</body>

</html>
<script>
    $("#gen").click(() => {
        let log = $("#log").val(log.name);
        console.log(log);
/*    $.ajax({
            type: "GET",
            data : 
            contentType: 'text/plain',
            url: 'logs',
            success: function (data) {
                $('#logs').html(data);
            }
        })*/
    })
</script>
