<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8">
    </meta>
    <title>{{pageTitle}}</title>
</head>

<body>


    <button id="gen">Start script</button>
    <button id="gen">Stop script</button>
    <button id="gen">Terminate script</button>
    <p id='logs'></p>

</body>

</html>
<script>
    $("#gen").click(() => {
        $.ajax({
            type: "GET",
            contentType: 'text/plain',
            url: 'logs',
            success: function (data) {
                $('#logs').html(data);
            }
        })
    })
</script>