<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="utf-8">
    </meta>
    <title>{{pageTitle}}</title>
</head>

<body>

    <select id="log" name="log_name">
        <option value="mem">Memory</option>
        <option value="disk">Disk</option>
    </select>
    <input id="path" placeholder="path"></input>
    <input id="inter" placeholder="interval"></input>
    <br>
    <button id="gen">Start script</button>
    <button id="stop">Stop script</button>
    <button id="gen">Terminate script</button>
    <p id='logs'></p>

</body>

</html>
<script>
    $("#gen").click(() => {
        let log = $("#log option:selected").val();
        let path = $("#path").val()
        let inter = $("#inter").val();

        $.ajax({
            type: "GET",
            data: { log, path, inter },
            contentType: 'text/plain',
            url: 'logs',
            success: function (data) {
                $('#logs').html(`Script is with id of ${data}  running ...`);
            }
        })
    })
    $("#stop").click(() => {

        $.ajax({
            type: "GET",
            contentType: 'text/plain',
            url: 'stop',
            success: function (data) {
                $('#logs').html("Script has stoped");
            }
        })
    })
</script>